body {
  margin: 0 auto;
  padding: 0;
  background-color: #849d8f;
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: bold;
  line-height: 72px;
}

h2 {
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 42px;
}

h3 {
  color: #323;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.main-header {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 4.16%;
  min-height: 115px;
}

.main-header::after {
  content: "";
  display: table;
  clear: both;
}

.main-header__logo {
  float: left;
  width: 154px;
  margin-right: 30px;
  margin-left: -5px;
}

.main-header__contacts {
  width: 200px;
  margin-left: auto;
}

.main-header__contacts a {
  color: inherit;
  text-decoration: none;
}

.main-nav {
  float: left;
  width: 400px;
  margin-right: 30px;
}

.main-nav__menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.main-nav__menu a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.main-nav__item {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 25px;
}

.sub-menu {
  display: none;
}

.user-block {
  float: right;
  width: 270px;
  margin-bottom: 20px;
  background-color: black;
}

.user-block__element {
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.user-block__element a {
  color: inherit;
  text-decoration: none;
}

.user-block__btn {
  height: 32px;
}

.user-block__btn--search {
  width: 32px;
}

.user-block__btn--login {
  width: 92px;
}

.user-block__btn--basket {
  width: 117px;
}

.user-block__popup {
  display: none;
}

.slider {
  display: none;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 4.16%;
  position: relative;
  min-height: 500px;
}

.slider::after {
  content: "";
  display: table;
  clear: both;
}

.slider__inner {
  overflow: hidden;
}

.slider__items {
  width: 3600px;
}

.slider__item {
  float: left;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

.slider__controls {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin-right: 1px;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
}

.slider input[type="radio"] {
  display: none;
}

.slider__descript {
  width: 700px;
  min-height: 220px;
}

#slider__item--1:checked ~ .slider__controls--wrap label[for="slider__item--1"],
#slider__item--2:checked ~ .slider__controls--wrap label[for="slider__item--2"],
#slider__item--3:checked ~ .slider__controls--wrap label[for="slider__item--3"] {
  background: #fff;
}

#slider__item--1:checked ~ .slider__items {
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}

#slider__item--2:checked ~ .slider__items {
  -webkit-transform: translate(-1200px);
      -ms-transform: translate(-1200px);
          transform: translate(-1200px);
}

#slider__item--2:checked ~ .slider__items {
  -webkit-transform: translate(-2400px);
      -ms-transform: translate(-2400px);
          transform: translate(-2400px);
}

.main-footer {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 4.16%;
  margin-top: 20px;
}

.main-footer::after {
  content: "";
  display: table;
  clear: both;
}

.main-footer__social {
  float: left;
  width: 22.2%;
}

.main-footer__info {
  float: left;
  width: 44.4%;
}

.main-footer__info ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.main-footer__info a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.main-footer__info-item {
  display: inline-block;
  vertical-align: top;
  min-width: 150px;
  margin-right: 30px;
  margin-bottom: 8px;
}

.main-footer__copyright {
  float: right;
  width: 22.2%;
}

.copyright__link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.bunners {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 4.16%;
  margin-bottom: 40px;
}

.bunners::after {
  content: "";
  display: table;
  clear: both;
}

.bunners .bunner {
  float: left;
  width: 46.6%;
  border-radius: 20px;
  background: #ae1d40;
}

.bunners .bunner__raspberry {
  background: #ae1d40 url("../img/background/bg-raspberry.jpg") no-repeat;
}

.bunners .bunner__choco {
  background: #3a1d13 url("../img/background/bg-chocolate.jpg") no-repeat;
}

.bunners .bunner:not(:last-child) {
  margin-right: 2.2%;
}

.popular {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 4.16%;
  margin-bottom: 40px;
}

.catalog-item {
  display: inline-block;
  vertical-align: top;
  width: 22.2%;
  margin-right: 20px;
}

.catalog-item__img {
  width: 100%;
  min-height: 200px;
  max-height: 267px;
}

.catalog-item__link {
  color: inherit;
  text-decoration: none;
}

.catalog-item__title {
  text-align: center;
}

.features {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 4.16%;
  margin-bottom: 40px;
  background: #f4d77b url("../img/background/pattern-waffle.jpg");
}

.features__item {
  display: inline-block;
  vertical-align: top;
  width: 45%;
  margin-left: 2.1%;
  padding-right: 2.5%;
  color: black;
}

.features__item:nth-of-type(2n) {
  margin-right: 0;
}

.contacts {
  position: relative;
}

.contacts .adress-block {
  position: absolute;
  top: 45px;
  left: 580px;
  width: 300px;
  padding: 25px;
  background-color: #fff;
}

.feedback-form {
  width: 480px;
}

.main-catalog {
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.catalog-header {
  margin-bottom: 30px;
}

.catalog-header__breadcrumbs {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  margin-bottom: 4px;
}

.catalog-header__breadcrumbs a {
  color: inherit;
  text-decoration: none;
}

.catalog-header__item {
  display: inline-block;
  vertical-align: top;
  margin-right: 22px;
  border-bottom: 1px solid rgba(230, 230, 235, 0.4);
}

.catalog-header__item:last-child {
  margin-right: 0;
  border-bottom: none;
}

.catalog-header__title {
  margin: 0px;
}

.main-catalog {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  padding: 0 4.16%;
}

.catalog {
  margin-bottom: 80px;
}

.search-options {
  width: 860px;
  margin-bottom: 40px;
}

.search-options__filter {
  display: inline-block;
  vertical-align: top;
}

.pagination {
  width: 190px;
  margin-bottom: 40px;
  margin-left: auto;
}

.pagination ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.pagination a {
  color: inherit;
  text-decoration: none;
}

.pagination__btn {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}
