////////// TO DO ////////////

// 2. bunner subscript выровнять поле и кнопку
// 3. слайдер bg
// 4. social icons - inset shadow

// 5. userblock table - кнопка и мороженое
// 8. search-options
// 9.стрелки в пагинации
// 10. google map pin
// 11. плейсхолдеры в мозиле и эксплорере
// 12. тест на переполнение
// 12. причесать html и css




// 6. z-index catalog-items 

// sub-menu 20
// user-block popups

// catalog-item__img 14
// catalog-item__price 15
// catalog-item__btn  13
// catalog-item__title--inner  12
// catalog-item:after  11 


// &__inner:nth-child(2)

// catalog-item__img  10  
// catalog-item:after  9 


// &__inner:nth-child(3)

// catalog-item__img  8 
// catalog-item:after  7 


// &__inner:nth-child(4)

// catalog-item__img  6
// catalog-item:after  5






/////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  VARIABLES  //////////////////////////
////////////////////////////////////////////////////////////////////////////

////////////////////// Colors ////////////////////////

// Text

$white: #fff;
$white--transparent: rgba(230, 230, 235, 0.4);

$orange: #ffbc9e;
$orange--transparent: rgba(249, 172, 159, 0.3);

$red: #ec593c;
$red--transparent: rgba(236, 89, 60, 0.3);

$dark-gray: #333;
$dark-gray--transparent: rgba(178, 178, 178, 0.3);

$gray: #5a5a5a;
$brown: #323;


// Backgrounds

$green: #849d8f;
$blue: #8996a6;
$light-brown: #9d8b84;


////////////////////// Typography ////////////////////////

$roboto: Roboto, Arial, Helvetica, sans-serif;


// Text

$text_font-size--xs: 14px;
$text_font-size--sm: 16px;
$text_font-size--lg: 18px;

$text_font-size--xs: 20px;
$text_line-height--sm: 22px;
$text_line-height--lg: 22px;


$text_color: $white;


// Headings

$h1_font-size: 60px;
$h2_font-size: 35px;
$h3_font-size: 24px;

$h1_line-height: 72px;
$h2_line-height: 41px;
$h3_line-height: 30px;

$headings_font-family: $roboto;

$h1_color: $white;
$h2_color: $white;
$h3_color: $brown;


////////////////////// Links ////////////////////////

$link_color: $white;
$link_color--hover: $orange;
$link_color--active: $red;
$link_color--current: $dark-gray;

$link_underline: 1px solid  $white--transparent;
$link_underline--hover: 1px solid  $orange--transparent;
$link_underline--active: 1px solid  $red--transparent;
$link_underline--current: 1px solid  $dark-gray--transparent;

$nav-link_color: ;
$nav-link_color--hover: ;
$nav-link_color--active: ;

$nav-link_color--current: ;

$nav-link_bg--xs: ;





/////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  MIXINS  /////////////////////////
////////////////////////////////////////////////////////////////////////


////////////////////// Most useful ////////////////////////

@mixin container {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

////////////////////// Resets ////////////////////////
@mixin ul-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin margin-reset {
  margin: 0;
}

@mixin link-disabled {
  pointer-events: none;
  cursor: default;
}
      




////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SCAFFOLDING  ///////////////////
////////////////////////////////////////////////////////////////////////


body {
  width: 100%;
  
  margin: 0;
  padding: 0;

  background-color: $green;
  color: $white;
  
  font-family: $roboto;
  font-size: $text_font-size--sm;
  line-height: $text_line-height--sm;
}

.main-header__wrap,
.slider__wrap,
.bunners__wrap,
.popular__wrap,
.features__wrap,
.contacts,
.main-catalog__wrap,
.main-footer__wrap {
  @include container;
}

.main-header,
.slider,
.bunners,
.popular,
.features,
.main-catalog,
.main-footer {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
      
  padding: 0 2.3%;
}

/////////////// z-index
.slider {
  z-index: 1;
}
.bunner-blog__img {
  z-index: 2;
}
.bunner-blog__inner {
  z-index: 3;
}

.user-block__popup {
  z-index: 50;
}

.feedback-form {
  z-index: 100;
}



.btn--red {
  @include link-reset;
  
  padding: 12px 24px;
  border: 0 none;
  outline: 0 none;
  
  color: $white;
  background: #f26843;
  background-image: linear-gradient(#f26843, #e74a35);
  
  -webkit-border-radius: 25px;
            border-radius: 25px;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
  
  font-family: $roboto;
  font-size: $text_font-size--lg;
  line-height: $text_line-height--lg;
  font-weight: bold;
  
  &:hover {
    background: #f26843;
    background-image: linear-gradient(#f58669, #ec6f5e);

    box-shadow: 0 2px 2px 0 #ac1000;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
  }

  &:active {
    background: #f26843;
    background-image: linear-gradient(#d84732, #e1603e);

    box-shadow: inset 0 2px 2px 0 #942718;
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76), 0 0 5px rgba(61, 61, 46, 0.34);
  }
}




////////////////////////////////////////////////////////////////////////
////////////////////////////////////// TYPE  //////////////////////////
///////////////////////////////////////////////////////////////////////


h1 {
  color: $white;
  
  font-family: $roboto;
  font-size: $h1_font-size;
  font-weight: bold;
  line-height: $h1_line-height;
}
h2 {
  color: $white;
  
  font-family: $roboto;
  font-size: $h2_font-size;
  font-weight: bold;
  line-height: $h2_line-height;
}

h3 {
  color: $brown;
  
  font-family: $roboto;
  font-size: $h3_font-size;
  font-weight: bold;
  line-height: $h3_line-height;
}


///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  HEADER  ///////////////////////
///////////////////////////////////////////////////////////////////////


.main-header {
  @include container;
  @include clearfix;
  
  position: relative;

  min-height: 115px;

  &__logo {
    float: left;

    width: 154px;
    margin-left: -7px;
    padding-top: 8px;
  }

  &__img {
    color: white;
  }
  &__contacts {
    width: 200px;
    margin-left: auto; 
    
    text-align: right;
    
    a {
      @include link-reset;
      
      font-size: 22px;
      font-weight: bold;
    }
  } 
  &__hours {
    font-size: 14px;
    line-height: $text_font-size--xs;
    font-weight: bold;
    
    margin-bottom: 5px;
  }
}


////////////////////// Main-nav ////////////////////////

.main-nav {
  position: absolute;
  left: 154px;
  right: 270px;
  
  // margin-right: 30px;
  // margin: 0 267px 0 155px;

  &__menu {
    @include ul-reset;
    
    padding-top: 25px;
    margin-left: 42px;  
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    
    padding: 8px 14px;
    
    a {
      @include link-reset;
      border-bottom: $link_underline;
      margin-top: 20px;    
    }  
    
    &:hover {
      background: #f7f6f3;
      color: black;
      font-weight: bold;
      
      border-radius: 20px;
      
      a {
        border-bottom: 0;
      } 
    } 
    
    &:active {
      background: #f7f6f3;
      color: black;
      font-weight: bold;
      
      border-radius: 20px;
      box-shadow: inset 0 2px 1px 0 #696969;
      
      a {
        border-bottom: 0;
      }     
    }
    &--current {
      background: #D07058;
      border-radius: 20px;
      
      font-weight: bold;
      a {
        border-bottom: 0;
      }
    }

    &--dropdown {
      position: relative;
      margin-bottom: 10px;
      
      &:hover>.sub-menu {
          display: block; 
      } 
    }
  }
}

// &__element:hover>&__popup {
//       display: block;
//     }

.user-block__btn--search:hover .user-block__popup--search {
  display: block;
}

.sub-menu {
  display: none;
  
  position: absolute;
  top: 40px;
  left: -7px;
  z-index: 10;
  
  min-width: 143px;

  background: #F8F7F4;
  color: #343434;
  box-shadow: 0 20px 20px 0 rgba(0, 0 , 0, 0.4);
  
  -webkit-border-radius: 5px;
          border-radius: 5px;
  
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  
  ul {
    @include ul-reset;
  }

  &__item {
    
    a {
      display: block;
      
      margin: 0 8px;
      padding-left: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      border-bottom: 0;
    }

    &:hover {
      background: #FBDED7; 
    }

    &:active {
      background: #F6B5A5;
    }

    &--current {
      @include link-disabled;
    
      color: white;
      background: #D07058;
      
      &:hover {
      background: #D07058; 
      }
    }
  }

  &__item:first-child {

    a {
      padding-top: 9px;
      padding-bottom: 10px;
      border-bottom: 1px solid #D1D0CE;
      font-weight: bold; 
    }
    
    &:hover {
      background: #FBDED7;
      
      border-radius: 5px 5px 0 0;
    }

    &:active {
      background: #F6B5A5;
      
      border-radius: 5px 5px 0 0;
    } 
  }
  &__item:nth-child(2) {
    padding-top: 2px;
  }
  &__item:last-child {
    &:hover {
      background: #FBDED7;
      
      border-radius: 0 0 5px 5px;
    }

    &:active {
      background: #F6B5A5;
      
      border-radius: 0 0 5px 5px;
    } 
  }
} 


////////////////////// User-block //////////////////////// 

.user-block {
  float: right;

  max-width: 270px;
  padding-top: 22px;
  margin-bottom: 18px;
    
  &__element {
  position: relative;
          
  display: inline-block;
  vertical-align: top;
    
  text-align: right;
    
  min-width: 32px;
  margin-right: 3px;
    
      
    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    @include link-reset; 
        
    display: block;
      
    padding: 8px 45px;
    padding-right: 14px;
    margin-bottom: 10px;
      
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
      
    text-decoration: none;
      
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
      
    &--icon {
      position: absolute; 
      left: 15px;
      top: 6px; 
      
        
      &:nth-child(2) {
        position: absolute; 
        left: 20px;
        top: 10px;
          
        color: transparent;
      }
    } 

    &--search {
      width: 32px; 
      height: 32px;
      padding: 0; 
          
      .user-block__btn--icon {
        left: 7px;
        top: 7px;
      }
    }

    &:hover {
      background: #F8F7F4;
      color: black;
        
      &--icon:first-child {
        color: black;
      }

      .basket-filled {

        background: #F8F7F4;
        color: black;
          
        &--icon {
          color: black;
            
          &:nth-child(2) {
            color: #e1603e;
          }
        }
      }
    }
  }
    
    
  &__popup {
    display: none;
      
    position: absolute;
    top: 10px;
    left: -7px;
        
    padding: 15px;
        
    background-color: #F8F7F4;
    text-align: left;
        
    border-radius: 5px;
        
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2);
        
    &--search {
      top: 36px;
      left: -329px; 
    }

    &--login {
      @include clearfix;
        
      top: 36px;
      left: -180px;
      
      width: 240px;
      padding: 20px 15px 10px 15px;  
    }

    &--basket {
      top: 36px;
      left: -444px;
      
      width: 510px;
      
      color: #333;   
    }      
  }
&__element:hover>&__popup {
      display: block;
    }
}






.basket-filled {

  // background: #F8F7F4;
  // color: black;
  
  &__popup {
    // display: none;
  }

  svg {
    color: black;
    
    &:nth-child(2) {
      color: #e1603e;
    }
  }

  &:hover {
    svg {
    color: black;
    
      &:nth-child(2) {
        color: #e1603e;
      }
    }

    .basket-filled__popup {
      display: block;
    }
  }
}






.search {

  &__text-field {
    width: 310px;
    padding: 10px;
          
    -webkit-border-radius: 5px;
            border-radius: 5px;
          
    border: 1px solid #d3d3d2; 
          
    font-size: 14px;
  }
}




.login {

  &__e-mail,
  &__password {

    width: 209px;
    height: 17px;
    padding: 10px 15px;
          
    -webkit-border-radius: 5px;
            border-radius: 5px;
          
    border: 1px solid #d3d3d2;
          
    font-size: 14px;
  }

  &__e-mail {
    margin-bottom: 10px;
  }

  &__password {
    margin-bottom: 15px;
  }

  &__btn {
    float: left;
          
    padding: 7px 30px;

    font-size: 15px;
  }

  &__support {
    float: right;
          
    width: 120px;
          
    a {
      @include link-reset;
      display: inline-block;
      vertical-align: top;
            
      color: #333;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            
      font-size: 13px;
      line-height: 12px;
            
      &:hover {
        color: $link-color--hover;
        border-bottom: $link-underline--hover;
      }

      &:active {
        color: $link-color--active;
        border-bottom: $link-underline--active;
      }
    }       
  }
}




.basket {

  &__table {     
    border-bottom: 1px solid #cacac7;
  }
  &__row {
    display: block;
    padding-top: 20px;
  }

  &__row:nth-child(2) {
    padding-top: 10px;
    padding-bottom: 7px;
  }

  &__cell {     
    
    padding-bottom: 5px;
    padding-right: 14px;
    
    vertical-align: top;
    
    font-size: 13px;
    line-height: 18px;
  }

  &__cell:nth-child(2) {
    margin-top: -4px;
  }

  &__btn--delete {
    position: relative;
          
    width: 10px;
    height: 10px;
          
    background: transparent;
    border: 0 none;
    outline: 0 none;
          
    cursor: pointer; 
    
    &:after,
    &:before {
      content: "";
            
      position: absolute;
      top: 0px;
      left: 5px;
            
      width: 2px;
      height: 12px;
      
      border-radius: 1px;
      
      background-color: #3e3e3e;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }      
  }

  &__cell:nth-child(2) {
     // выровнять мороженое
  }

  &__cell:nth-child(3) {
    width: 217px; 
  }

  &__cell:nth-child(4) {
    width: 97px;
    padding-left: 14px;
          
    color: #808080;
  }

  &--bold { 
    color: #333333;
  }

  &__cell:nth-child(5) {
    width: 50px;
    padding-left: 13px;
  }

  &__summary {
    margin-top: 11px;
    margin-bottom: 12px;
    margin-right: 12px;
    
    text-align: right;
    
    font-size: 15px;
  }

  &__submit {
    float: right;
    
    margin-bottom: 7px;
    padding: 5px 21px;
    
    font-size: 15px;
    line-height: 24px;
  }
}

///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SLIDER  ///////////////////////
///////////////////////////////////////////////////////////////////////

.toggle{
    display: none;
}

.background {
  margin-top: -14px;
      
  background-repeat: no-repeat;
  background-position: 50% 0;
  
  transition: all 0.3s ease-out;
}

.background:before,
.background:after {
  content: "";

  visibility: hidden;
}

.background:before,
.background:after {
  background-image: url("../img/background/slide-1.png");
}

.background:after {
  background-image: url("../img/background/slide-2.png");
}


.toggle--1:checked ~ .background{
    background-color: #849d8f;
    background-image: url("../img/background/slide-1.png");
}
.toggle--2:checked ~ .background{
    background-color: #8996a6;
    background-image: url("../img/background/slide-2.png");
}
.toggle--3:checked ~ .background{
    background-color: #a7958e;
    background-image: url("../img/background/slide-3.png");
}



.slider {
  @include container;
  
  position: relative;
  padding-top: 200px;
  padding-bottom: 57px;
  overflow: hidden;
  

  &__item {
    display: none;
  }

  &__text {
    width: 690px;
    margin: 0 auto;
    margin-top: 60px;
    
    text-align: center;
  }

  &__title {
    margin-bottom: 52px;
        
    color: #fff;
    
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
  }

  &__controls--wrap {
    position: absolute;
    bottom: 63px;
    display: block;
    width: 100px;
  }
  
  &__btn {
    padding: 12px 50px;
    
    border-radius: 100px;
    
    font-weight: 600;
    font-size: 31px;
    line-height: 41px;
  }

  &__control {
    display: inline-block;
    vertical-align: top;
    
    width: 17px;
    height: 17px;
    margin-right: 8px;
    
    cursor: pointer;
    
    border: 2px solid $white;
    border-radius: 50%;
    
    font-size: 0;
  }
}

.toggle--1:checked ~ .background .slider__control--1,
.toggle--2:checked ~ .background .slider__control--2,
.toggle--3:checked ~ .background .slider__control--3 {
    background-color: #fff;
}

.toggle--1:checked ~ .background .slider__item--1 {
  display: block;
}

.toggle--2:checked ~ .background .slider__item--2 {
  display: block;
}

.toggle--3:checked ~ .background .slider__item--3 {
  display: block;
}


///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  BANNERS  //////////////////////
///////////////////////////////////////////////////////////////////////


.bunners {
  @include clearfix;
  
  margin-bottom: 40px;  
}


.bunner {
  position: relative;
  
  float: left;

  width: 48.9%;
  box-sizing: border-box;
  height: 230px;
  padding: 15px 18px;
    
  overflow: hidden;
    
  -webkit-border-radius: 16px;
          border-radius: 16px;
    
  background: #ae1d40;
    
    &__left {
      float: left;
    }

    &__right {
      float: right;
    }
    &__title {
      @include margin-reset;
      margin-bottom: 17px;
    }

    &__text {
      @include margin-reset;
      margin-bottom: 25px;
      
      font-size: $text_font-size--lg;
      line-height: $text_line-height--lg;
      font-weight: bold;
      padding-right: 10px;
    }

    &__btn {
      position: absolute;
      bottom: 30px;
      right: 18px;
      
      display: block;
      float: right;
      
      min-width: 50px;
    }

    &-raspberry {
      background: #ae1d40 url("../img/background/bg-raspberry.jpg") no-repeat;
    }

    &-choco {
      background: #3a1d13 url("../img/background/bg-chocolate.jpg") no-repeat;
    }

    &-blog {
      position: relative;
      
      height: 220px;
      padding: 0;
          
      background: $white;
      
      .bunner-blog__img {
        position: absolute;
        right: 0;
      }

      &__inner {
        position: absolute;
        left: 20px;
        
        width: 300px;
        padding: 23px 0;
        
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        color: #353535;
      }

      p {
        @include margin-reset;
        
        margin-bottom: 5px;
        
        font-size: $text_font-size--sm;
        line-height: $text_line-height--sm;
        color: $gray;
      }

      a {
        @include link-reset;
        
        text-decoration: underline;
        background: rgba(251, 251, 251, 0.8);
      }
    }

    &-subscript {
      height: 220px;
      padding: 6px;
      
      background: #f8f7f4;
      background-image: url("../img/background/pattern-postcard.png");
    
      &__inner {
        @include clearfix;
        
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 13px;
        padding-bottom: 34px;
        border-radius: 10px;
    
        color: $gray;
        background: #f8f7f4;
        
        p {
          margin-bottom: 35px;
        }
      }
      
      &__email {
        
          display: block;
          
          float: left;
          
          width: 67%;
          min-width: 227px;
          max-width: 367px;
          padding: 9px;
          margin-right: 10px;
          
          border: 1px solid #d3d3d2;
          outline: 0 none;
          
          -webkit-border-radius: 3px;
                  border-radius: 3px;

          font-size: 16px;
          line-height: 25px;
          color: #999999;
      }

      &__btn {
        padding: 10px 21px;

        font-size: 17px;
        line-height: 24px;
        border: none;
      }
    } 
  }



///////////////////////////////////////////////////////////////////////
////////////////////////////////////// CATALOG-ITEM  //////////////////
//////////////////////////////////////////////////////////////////////


.catalog-item {
    position: relative;
    
    display: inline-block;
    vertical-align: top;

    width: 22.9%;
    margin-right: 2.3%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    &__inner {
      position: relative;
    }
    &:after {
      content: "";
      
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 3;
      
      display: block;
      
      width: 100%;
      height: 81.5%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 60px;
      
      border-top-right-radius: 5px;
      border-top-left-radius: 5px; 
    }
    
    &:hover  {

      &:after {
      z-index: 3;
      background-color: rgba(255, 255, 255, 0.3);
      
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
      }
    }

    
    &:last-child {
      margin-right: 0;
    }
    &__img {
      position: relative;
      z-index: 5;
      
      max-width: 100%;
      height: auto;
      margin-bottom: 6px;
    }

    &__link {
      @include link-reset;
    }

    &__title {
      @include margin-reset;
      
      text-align: center;
      font-weight: normal;
      
      &--inner {
        position: relative;
        z-index: 4;
        
        border-bottom: 1px solid $white--transparent;
      }
    }

    &:hover &__title--inner {
      border: none;
    }

    &__price {
      position: absolute;
      top: 62%;
      z-index: 7;
      
      font-size: 45px;
      line-height: 1.2;
      font-weight: bold;
      
      text-shadow: 1px 1px 3px rgba(49,50,53, 0.5);
      
      span {
        font-size: 30px;
      }
    }

    &__btn {
      display: none;
      position: absolute;
      top: 99%;
      left: -10px;
      z-index: 6;
      
      width: 100%;
      height: 20px;
      padding: 0 10px;
      padding-top: 20px;
      padding-bottom: 37px;
      
      
      background: linear-gradient(#a9bab1 0%, #a9bab1 30%, rgba(255, 255, 255, 0.3) 30%, rgba(255, 255, 255, 0.3) 100%);
        
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      
      -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.1);

      a {
        display: block;
        padding: 4px 0;
      
        font-size: 15px;
        line-height: 24px;
        text-align: center;
      }
    }


    &:hover &__btn {
      display: block;
      
      z-index: 6;
    }

  }



///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  POPULAR  //////////////////////
///////////////////////////////////////////////////////////////////////


.popular {
  margin-bottom: 40px;
  
  .catalog-item {
    position: relative;
  }
  .catalog-item:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 6;
    
    display: block;
    
    height: 70px;
    width: 71px;
    background: url("../img/icon/icon-hit.png") no-repeat;
  }

}


/////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FEATURES  ///////////////////////
////////////////////////////////////////////////////////////////////////


.features {
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 2.3%;
    margin-right: 2.3%;
    padding: 25px 20px;
    padding-bottom: 0;
    
    background: #f4d77b url("../img/background/pattern-waffle.jpg");
    color: #323232;
    
    -webkit-border-radius: 13px;
            border-radius: 13px;
  
  &__inner {
    
  }
  
  &__title {
    @include margin-reset;
    
    margin-bottom: 7px;
    
    color: #323232;
  }
  
  &__item {
    @include margin-reset;
    
    display: inline-block;
    vertical-align: top;
    
    box-sizing: border-box;
    width: 49%;
    padding-right: 2.5%;
    
    margin-bottom: -10px;
  }
  &__item:nth-of-type(2n) {
    padding-right: 0;
  }
  &__item:nth-of-type(3),
  &__item:nth-of-type(4) {
    margin-bottom: 0;
  }
  
  &__text {
    padding-left: 58px;
  }

  &__icon {
    position: absolute;
    
    fill: #323232;
  }
}


//////////////////////////////////////////////////////////////////////////
////////////////////////////////////// CONTACTS  /////////////////////////
//////////////////////////////////////////////////////////////////////////


.contacts { 
  position: relative;
  
  width: 100%;
  max-width: 1200px;
  min-width: 900px;
  height: 430px;
  margin: 0 auto;
  
  background: #FFF url("../img/background/map_1200x430.jpg");
  
  .adress-block {
    position: absolute;
    top: 65px;
    right: 2.3%;
    
    width: 253px;
    padding: 29px 26px;
    
    border-radius: 14px;
    
    color: #343434;
    background-color: $white;
    
    font-size: 14px;
    line-height: 20px;
    
    &__item {
      @include margin-reset;
      
      margin-bottom: 18px;
    }

    &__item--bold {
      @include margin-reset;
      
      margin-bottom: 10px;
      margin-bottom: 10px;
      
      font-size: 18px;
      line-height: 26px;
      font-weight: bold;
      color: black;
      
      a {
        @include link-reset;
      }
    }

    &__btn {
      display: block;
      
      margin-top: 25px;
      padding: 10px 33px;
      
      font-size: 17px;
      line-height: 24px;
    }
  }
}




///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  CATALOG-HEADER  ///////////////////
//////////////////////////////////////////////////////////////////////////


.catalog-header {
  margin-bottom: 30px;
  
  &__breadcrumbs {
    @include ul-reset;
    margin-bottom: 4px;
    
    a {
      @include link-reset;
    }
  }
  &__item {
    position: relative;
    
    display: inline-block;
    vertical-align: top;
    
    margin-right: 22px;
    border-bottom: $link_underline;
    
    &:not(:last-child):after {
      content: "»";
      
      position: absolute;
      top: 0px;
      left: 68px;
      
      @include link-disabled; 
      
      color: white;
      
      // &:hover {
      //   color: white;
      // }  
      
      // &:active {
      //   color: white;
      // } 
    }

    &:hover {
        color: $link_color--hover;
        border-bottom: $link_underline--hover;
      }  
      
    &:active {
      color: $link_color--hover;
      border-bottom: $link_underline--hover;
    } 
  }

  &__item:last-child {
    @include link-disabled;
    
    margin-right: 0;
    border-bottom: none;
  }
  &__title {
    @include margin-reset;
    
    font-size: 35px;
    line-height: 30px;
    font-weight: bold;
  }
}



///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SEARCH-OPTIONS  ///////////////////
//////////////////////////////////////////////////////////////////////////


.search-options {
  width: 860px;
  margin-bottom: 40px;
  
  &__filter {
    display: inline-block;
    vertical-align: top; 
    
    margin-bottom: 18px;
    margin-right: 13px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 15px;
    
    font-size: 14px;
    line-height: 18px;
  }

  &__fieldset {
      border: 0;
      outline: 0;
      padding: 0;
      
      legend {
        font-size: 14px;
        font-weight: bold;
      }  
    }

    &__btn {
      margin-top: 34px;
      padding: 6px 27px;
      
      border: 2px solid #f5f6f5;
      outline: 0;
      
      background-color: rgba(248, 247, 244, 0.2);
      border-radius: 30px;
  
      font-size: 16px;
      font-weight: 500;
    }
  
}

.filter-fatness,
.filter-fillers,
.filter-price   {
  padding: 9px 15px;
    
  background-color: rgba(248, 247, 244, 0.2);
  border-radius: 30px;
}


.filter-sorting {
  height: 35px;
  padding: 5px 10px;
  
  border: 0;
  outline: 0;
  
  border-radius: 20px;
  
  background-color: #a9b9af;
  color: #ffffff;
  
    option {
      background-color: #ffffff;
      color: black;
    }
}

.filter-price {
  height: 18px;
  
  &__scale {
    position: relative;
    
    width: 190px;
    height: 4px;
    margin-top: 9px;
    
    background-color: rgba(248, 247, 244, 0.5);
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 45px;
    
    width: 100px;
    height: 4px;
    
    background-color: #F8F7F4;
  }

  &__toggle {
    position: absolute;
    top: -8px;
    
    width: 20px;
    height: 20px;
    
    -webkit-border-radius: 50%;
            border-radius: 50%;
    
    background-color: #F8F7F4;
    
    &--min {
      left: 0;
    }

    &--max {
      left: 100%;
    }
  }
}



.filter-fatness {
  // padding-right: 5px;
  input {
    display: none;
  }

  &__item {
    position: relative;
    padding-right: 46px;
    
    &:nth-child(1) {
      padding-left: 31px;
    }

    &:last-child {
      padding-right: 0;
    }
        
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      
      width: 18px;
      height: 18px;
      
      -webkit-border-radius: 50%;
              border-radius: 50%;
      
      background-color: transparent;
      border: 1px solid #F8F7F4;  
    }
    &:nth-child(2):before,
    &:nth-child(3):before,
    &:nth-child(4):before {
      left: -30px;
    }
  }
}

.filter-fillers {

}

///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  CATALOG  /////////////////////////
//////////////////////////////////////////////////////////////////////////


.main-catalog {
  border-bottom: $link_underline;
}
.catalog {
  margin-bottom: 80px;
}



///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  PAGINATION  //////////////////////
//////////////////////////////////////////////////////////////////////////


.pagination {
  width: 190px;
  margin-bottom: 40px;
  margin-left: auto;
  
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  
  ul {
    @include ul-reset;
  }
  a {
    @include link-reset;
  }
  &__btn {
    display: inline-block;
    vertical-align: top;
    
    width: 26px;
    height: 26px;
    
    -webkit-border-radius: 50%;
              border-radius: 50%;
    
    text-align: center;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:active {
      color: black;
      background: white;
    }

    a {
      display: inline-block;
      vertical-align: top;  
    }
    
    &--current {
      @include link-disabled;
      
      color: black;
      background: white;
      
    }

    &--disabled {
      @include link-disabled;
      
      color: rgba(255, 255, 255, 0.2);
    }
  }
}


///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FOOTER  ///////////////////////////
///////////////////////////////////////////////////////////////////////////


.main-footer {

  @include container;
  @include clearfix;
  
  margin-top: 20px;
  padding-bottom: 20px;
  
  &__social {

    float: left;
    
    // min-width: 190px;
    // padding-top: 10px;
    
    float: left;
    width: 22.2%;
    margin-right: 2.2%;
    margin-top: 17px;
  }
  &__info {

    // float: left;
    
    // width: 55.6%;
    // margin-right: 2.2%;
    // padding-top: 10px;
    
    float: left;
    width: 50.6%;
    margin: 0;
    padding: 0;
    margin-right: 2.2%;
    margin-top: 15px;
    
    font-size: 13px;
    line-height: 16px;
    
    ul {
      @include ul-reset;
      
      max-width: 307px;
      margin: 0 auto;
    }

    li {
      display: inline-block;
      vertical-align: top;
      
      min-width: 140px;
      padding: 0;
      padding-left: 2px;
      margin-bottom: 6px;
    }

    li:first-child {
      margin-left: -20px;
      margin-right: 20px;
    }

    a {
      @include link-reset;
      border-bottom: $link_underline;
      
      &:hover {
        color: $link_color--hover;
        border-bottom: $link_underline--hover;
      }  
      
      &:active {
        color: $link_color--hover;
        border-bottom: $link_underline--hover;
      }  
    }
  }

  .social__link {
    font-size: 0; 
    margin-right: 13px;
    
    
  }

  .social__icon {
    position: relative;
    color: rgba(247, 246, 243, 0.8);
    border: 3px solid rgba(247, 246, 243, 0.5);
    border-radius: 50%;
    
    // &:before {
    //     content: "";
    //     position: absolute;
    //     top: 5px;
    //     left: 5px;
        
    //     width: 30px;
    //     height: 30px;
        
    //     border-radius: 50%;
        
    //     background: transparent;
    //     box-shadow: inset 0 2px 1px 0 #888888;
    //   }
    
    &:hover {
      color: rgba(255, 255, 255, 0.98);
      border: 3px solid rgba(255, 255, 255, 0.7);
    }

    &:active {
      color: #e9e9e9;
      border: 3px solid rgba(254, 254, 254, 0.7);
      // добавить тень
      box-shadow: inset 0 2px 1px 0 #888888;
      
      
    }
  }

  .social__icon:not(:last-child) {
    margin-right: 12px;
  }

  &__copyright {
    float: right;
    width: 190px;

    font-size: 12px;
    line-height: 18px;
  }
}

.copyright {

  &__text {
    @include margin-reset;
  }

  &__link {
      @include link-reset;
      
      border-bottom: $link_underline; 
      
      &:hover {
        color: $link_color--hover;
        border-bottom: $link_underline--hover;
      }  
      
      &:active {
        color: $link_color--hover;
        border-bottom: $link_underline--hover;
      }  
  }

  &__logo {
    color: white;
  }
}




///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FEEDBACK-FORM  ////////////////////
//////////////////////////////////////////////////////////////////////////

.feedback-form {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;
  
  background-color: rgba(0, 0, 0, 0.3);
  
  &__inner {
    @include clearfix;
    
    position: absolute;
    top: 340px;
    left: 50%;
    
    width: 480px;
    transform: translate(-240px);
    padding: 20px 25px;
  
    background-color: #f8f7f4;
    color: #343434;
    
    -webkit-border-radius: 10px;
            border-radius: 10px;
  }
  
  &__btn--close {
    position: absolute;
    top: 15px;
    right: 15px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    
    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 6px;
      right: -2px;

      width: 16px;
      height: 2px;
      background-color: #000000;
      border-radius: 1px;
    }

    &:after {
      transform: rotate(45deg);
    }

    &:before {
      transform: rotate(-45deg);
    }
  }

  &__title {
    @include margin-reset;
    
    margin-bottom: 25px;
    font-size: 24px;
    line-height: 22px;
    font-weight: 500;
  }

  &__text-field {
    display: block;
    
    width: 240px;
    padding: 9px;
    // margin-right: 10px;
    margin-bottom: 20px;
    
    border: 1px solid #d3d3d2;
    outline: 0 none;
    border-radius: 3px;
    
    font-size: 16px;
    line-height: 25px;
    color: #999999; 
    
    &:nth-child(3) {
      width: 385px;
      margin-bottom: 25px;
      
      resize: none;
    }
  }


  &__btn {
    float: right;
    
    font-size: 17px;
  }
}

.feedback-form--show {
  display: block;
}
.feedback-form--error {
  
}

