////////////////////// HEADER ////////////////////////

.main-header {
  @include container;
  @include clearfix;

  min-height: 115px;

  &__logo {
    float: left;

    width: 154px;
    margin-right: 30px;
    margin-left: -5px;
  }
  &__contacts {
    width: 200px;
    margin-left:auto; 
    a {
      @include link-reset;
    }
  }

  
}

.main-nav {
  float: left;

  width: 400px;
  margin-right: 30px;

  &__menu {
    @include ul-reset;

    a {
      @include link-reset;
      border-bottom: $link_underline;
    }
  }
  &__item {
    display: inline-block;
    vertical-align: baseline;

    margin-right: 25px;
  }
}
.sub-menu {
  display: none;
}
.user-block {
    float: right;

    width: 270px;
    margin-bottom: 20px;
    
    background-color: black;
    
    &__element {
      display: inline-block;
      vertical-align: top;

      margin-right: 3px;
      
      a {
        @include link-reset;
      }
    }
    &__btn {
      height: 32px;

      &--search {
        width: 32px;  
      }
      &--login {
        width: 92px;       
      }
      &--basket {
        width: 117px;
      }
    }
    &__btn {
      
    }

    &__popup {
      display: none;
    }
}

