@import "variables";
@import "scaffolding";
@import "type";
@import "mixins";
@import "header";
@import "slider";
@import "footer";

////////////////////// STYLES //////////////////////////





.bunners {
  @include container;
  @include clearfix;
  
  margin-bottom: 40px;
  
  .bunner {
    float: left;

    width: 46.6%;
    
    -webkit-border-radius: 20px;
            border-radius: 20px;
    
    background: #ae1d40;
    
    &__raspberry {
      background: #ae1d40 url("../img/background/bg-raspberry.jpg") no-repeat;
    }
    &__choco {
      background: #3a1d13 url("../img/background/bg-chocolate.jpg") no-repeat;
    }
    &__blog {
      
    }
    &__subscript {
      // width: 50%;
      
      // -webkit-box-sizing: border-box;
      //    -moz-box-sizing: border-box;
      //         box-sizing: border-box;
        
      // background: #f8f7f4;
      // border: 6px solid #f8f7f4;
      // -webkit-border-image: url("../img/background/pattern-postcard.png");
      //    -moz-border-image: url("../img/background/pattern-postcard.png");
      //      -o-border-image: url("../img/background/pattern-postcard.png");
      //         border-image: url("../img/background/pattern-postcard.png");
    }
    
  }
  .bunner:not(:last-child) {
    margin-right: 2.2%;
  }
}

.popular {
  @include container;
  
  margin-bottom: 40px;
}


.catalog-item {
    display: inline-block;
    vertical-align: top;

    width: 22.2%;
    margin-right: 20px;
    
    &__img {
      width: 100%;
      min-height: 200px;
      max-height: 267px;
    }

    &__link {
      @include link-reset;
    }

    &__title {
      text-align: center;
    }
  }

.features {
  @include container;

  margin-bottom: 40px;
  
  background: #f4d77b url("../img/background/pattern-waffle.jpg");
  &__item {
    display: inline-block;
    vertical-align: top;
    
    width: 45%;
    margin-left: 2.1%;
    padding-right: 2.5%;
    
    color: black;
  }
  &__item:nth-of-type(2n) {
    margin-right: 0;
  }
}
.contacts {
  position: relative;
  

  
  .adress-block {
    position: absolute;
    top: 45px;
    left: 580px;

    width: 300px;
    padding: 25px;

    background-color: $white;
  }
}

.feedback-form {
  width: 480px;
}


// Catalog /////////////////////////////////////////
.main-catalog {
  border-bottom: $link_underline;
}
.catalog-header {
  margin-bottom: 30px;
  
  &__breadcrumbs {
    @include ul-reset;
    margin-bottom: 4px;
    
    a {
      @include link-reset;
    }
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 22px;
    border-bottom: $link_underline;
  }
  &__item:last-child {
    margin-right: 0;
    border-bottom: none;
  }
  &__title {
    margin: 0px;
    
  }
}
.main-catalog {
  @include container;
}
.catalog {
  margin-bottom: 80px;
}

.search-options {
  width: 860px;
  margin-bottom: 40px;
  
  &__filter {
    display: inline-block;
    vertical-align: top;
    
  }
}

.pagination {
  width: 190px;
  margin-bottom: 40px;
  margin-left: auto;
  
  ul {
    @include ul-reset;
  }
  a {
    @include link-reset;
  }
  &__btn {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 5px;
  }
}
