////////////////////// VARIABLES ////////////////////////

// font
$font-size: 16px;
$font-family: Roboto, Arial, Helvetica, sans-serif;

// colors
$white: #fff;
$brown: #323;


////////////////////// STYLES //////////////////////////

body {
	margin: 0;
    padding: 0;

	background-color: #849d8f;
	color: $white;
	
	font-family: $font-family;
    font-size: $font-size;
    line-height: $font-size/0.7;
}
h1 {
	color: $white;
	
	font-family: $font-family;
    font-size: $font-size*3.75;
    font-weight: bold;
    line-height: 1.2;
}
h2 {
	color: $white;
	
	font-family: $font-family;
    font-size: $font-size*2.1875;
    font-weight: bold;
    line-height: 1.2;
}

h3 {
	color: $brown;
	
	font-family: $font-family;
    font-size: $font-size*1.5;
    font-weight: bold;
    line-height: 1.25;
}


.container {
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
	padding: 0 4.16%;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.main-header {
	position: relative;

	height: 75px;

	&__logo {
		float: left;

		width: 154px;
		margin-right: 30px;
	}
	&__contacts {
		position: absolute;
		right: 0px;
		top: 50px;
	}
	
}

.main-nav {
	float: left;

	width: 400px;
	margin-right: 30px;

	&__menu {
		list-style: none;
		padding: 0;

		a {
			text-decoration: none;

			color: $white;
		}
	}
	&__item {
		display: inline-block;
		vertical-align: baseline;

		margin-right: 25px;
	}
}
.sub-menu {
	display: none;
}
.user-block {
		float: right;

		width: 270px;

		&__btn {
			display: inline-block;
			vertical-align: top;

			margin-right: 3px;

			&--search {
				width: 32px;
			}
			&--login {
				width: 95px;
			}
		}
		&__btn {
			
		}

		&__popup {
			display: none;
		}
	}
.slider {
	
	&__item {

	}
	&__item:not(:first-child) {
	  display: none;
	}
}
.bunners {
	margin-bottom: 40px;
	.bunner {
		float: left;

		width: 46.6%;
	}
	.bunner:not(:last-child) {
		margin-right: 2.2%;
	}
}

.popular {
	margin-bottom: 40px;
	.catalog-item {
		float: left;

		width: 22.2%;
		margin-right: 20px;
	}
}
.features {
	margin-bottom: 40px;
}
.contacts {
	position: relative;

	.adress-block {
		position: absolute;
		top: 45px;
		left: 580px;

		width: 300px;
		padding: 25px;

		background-color: $white;
	}
}

.main-footer {
	&__social {
		float: left;

		width: 22.2%;
	}
	&__info {
		float: left;

		width: 44.4%;
	}
	&__copyright {
		float: right;

		width: 22.2%;
	}
}

.feedback-form {
	width: 480px;
}