/////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  VARIABLES  //////////////////////////
////////////////////////////////////////////////////////////////////////////

////////////////////// Colors ////////////////////////

// Text

$white: #fff;
$white--transparent: rgba(230, 230, 235, 0.4);

$orange: #ffbc9e;
$orange--transparent: rgba(249, 172, 159, 0.3);

$red: #ec593c;
$red--transparent: rgba(236, 89, 60, 0.3);

$dark-gray: #333;
$dark-gray--transparent: rgba(178, 178, 178, 0.3);

$gray: #5a5a5a;
$brown: #323;


// Backgrounds

$green: #849d8f;
$blue: #8996a6;
$light-brown: #9d8b84;


////////////////////// Typography ////////////////////////

$roboto: Roboto, Arial, Helvetica, sans-serif;


// Text

$text_font-size--xs: 14px;
$text_font-size--sm: 16px;
$text_font-size--lg: 18px;

$text_font-size--xs: 20px;
$text_line-height--sm: 22px;
$text_line-height--lg: 22px;


$text_color: $white;


// Headings

$h1_font-size: 60px;
$h2_font-size: 35px;
$h3_font-size: 24px;

$h1_line-height: 72px;
$h2_line-height: 41px;
$h3_line-height: 30px;

$headings_font-family: $roboto;

$h1_color: $white;
$h2_color: $white;
$h3_color: $brown;


////////////////////// Links ////////////////////////

$link_color: $white;
$link_color--hover: $orange;
$link_color--active: $red;
$link_color--current: $dark-gray;

$link_underline: 1px solid  $white--transparent;
$link_underline--hover: 1px solid  $orange--transparent;
$link_underline--active: 1px solid  $red--transparent;
$link_underline--current: 1px solid  $dark-gray--transparent;

$nav-link_color: ;
$nav-link_color--hover: ;
$nav-link_color--active: ;

$nav-link_color--current: ;

$nav-link_bg--xs: ;





/////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  MIXINS  /////////////////////////
////////////////////////////////////////////////////////////////////////


////////////////////// Most useful ////////////////////////

@mixin container {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

////////////////////// Resets ////////////////////////
@mixin ul-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin margin-reset {
  margin: 0;
}




////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SCAFFOLDING  ///////////////////
////////////////////////////////////////////////////////////////////////


body {
	min-width: 900px;
	
  margin: 0 auto;
  padding: 0;

  background-color: $green;
  color: $white;
  
  font-family: $roboto;
  font-size: $text_font-size--sm;
  line-height: $text_line-height--sm;
}

.main-header__wrap,
.slider__wrap,
.bunners__wrap,
.popular__wrap,
.features__wrap,
.contacts,
.main-catalog__wrap,
.main-footer__wrap {
	@include container;
}

.main-header,
.slider,
.bunners,
.popular,
.features,
.main-catalog,
.main-footer {
	padding: 0 2.3%;
}

.btn--red {
  @include link-reset;
  
  padding: 12px 24px;
  
  color: $white;
  background: linear-gradient(#F06742, #e74b36);
  
  -webkit-border-radius: 25px;
            border-radius: 25px;
  
  font-size: $text_font-size--lg;
  line-height: $text_line-height--lg;
  font-weight: bold;
}
a {
  color: $link_color;
  border-bottom: $link_underline;
}
a:hover {
  color: $link_color--hover;
  border-bottom: $link_underline--hover;
}




////////////////////////////////////////////////////////////////////////
////////////////////////////////////// TYPE  //////////////////////////
///////////////////////////////////////////////////////////////////////


h1 {
  color: $white;
  
  font-family: $roboto;
  font-size: $h1_font-size;
  font-weight: bold;
  line-height: $h1_line-height;
}
h2 {
  color: $white;
  
  font-family: $roboto;
  font-size: $h2_font-size;
  font-weight: bold;
  line-height: $h2_line-height;
}

h3 {
  color: $brown;
  
  font-family: $roboto;
  font-size: $h3_font-size;
  font-weight: bold;
  line-height: $h3_line-height;
}


///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  HEADER  ///////////////////////
///////////////////////////////////////////////////////////////////////


.main-header {
  @include container;
  @include clearfix;
  
  position: relative;

  min-height: 115px;

  &__logo {
    float: left;

    width: 154px;
    // margin-right: 30px;
    margin-left: -7px;
    padding-top: 8px;
    // padding-right: 8px;
  }
  &__contacts {
    width: 200px;
    margin-left: auto; 
    
    text-align: right;
    
    a {
      @include link-reset;
      
      font-size: 22px;
      font-weight: bold;
    }
  } 
  &__hours {
    font-size: $text_font-size--xs;
    line-height: $text_font-size--xs;
    font-weight: bold;
    
    margin-bottom: 5px;
  }

}

.main-nav {
  position: absolute;
  left: 154px;
  right: 270px;
  
  // margin-right: 30px;
  // margin: 0 267px 0 155px;

  &__menu {
    @include ul-reset;
    
    padding-top: 25px;
    margin-left: 42px;
    
    
    a {
      @include link-reset;
      border-bottom: $link_underline;
      margin-left: 8px;
      margin-top: 20px;  
    }
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    
    margin-right: 20px;
  }
}
.sub-menu {
  display: none;
}
.user-block {
    float: right;

    max-width: 270px;
    padding-top: 22px;
    margin-bottom: 18px;

    text-align: right;
    
    &__element {
    position: relative;
          
    display: inline-block;
    vertical-align: top;
    
    min-width: 32px;
    margin-right: 3px;
      
      a {
        @include link-reset;
      }
    }
    &__element:last-child {
      margin-right: 0;
    }


    &__btn {
    display: block;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 45px;
    padding-right: 14px;
    
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    
    text-decoration: none;
    
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
      
      svg {
        position: absolute; 
        left: 15px;
        top: 6px;
        } 

      &--search {
        width: 32px; 
        height: 32px;
        padding: 0; 
        
        svg {
          left: 7px;
          top: 7px;
        }
      }
    }
    &__icon {
      position: absolute;
    }

    &__popup {
      display: none;
    }
}



// ////////////////////// HEADER ////////////////////////

// .main-header {
//   @include container;
//   @include clearfix;
  
//   position: relative;

//   min-height: 115px;

//   &__logo {
//     float: left;

//     width: 154px;
//     // margin-right: 30px;
//     margin-left: -7px;
//     padding-top: 8px;
//     // padding-right: 8px;
//   }
//   &__contacts {
//     width: 200px;
//     margin-left: auto; 
    
//     text-align: right;
    
//     font-size: 14px;
//     font-weight: bold;
    
//     a {
//       @include link-reset;
      
//       font-size: 22px;
//       font-weight: bold;
//     }
//   } 
//   &__hours {
//     font-size: 14px;;
//     line-height: $text_font-size--xs;
//     font-weight: bold;
    
//     margin-bottom: 5px;
//   }

// }

// .main-nav {
//   position: absolute;
//   left: 154px;
//   right: 270px;
  
//   // margin-right: 30px;
//   // margin: 0 267px 0 155px;

//   &__menu {
//     @include ul-reset;
    
//     padding-top: 25px;
//     margin-left: 42px;
    
    
//     a {
//       @include link-reset;
//       border-bottom: $link_underline;
//       margin-left: 8px;
//       margin-top: 20px;  
//     }
//   }
//   &__item {
//     display: inline-block;
//     vertical-align: top;
    
//     margin-right: 20px;
//   }
// }
// .sub-menu {
//   display: none;
// }
// .user-block {
//     float: right;

//     max-width: 270px;
//     padding-top: 22px;
//     margin-bottom: 18px;

//     text-align: right;
    
//     &__element {
//     position: relative;
          
//     display: inline-block;
//     vertical-align: top;
    
//     min-width: 32px;
//     margin-right: 6px;
      
//       a {
//         @include link-reset;
//       }
//     }
//     &__element:last-child {
//       margin-right: 0;
//     }


//     &__btn {
//     display: block;
    
//     padding-top: 8px;
//     padding-bottom: 8px;
//     padding-left: 45px;
//     padding-right: 14px;
    
//     border-radius: 20px;
//     background-color: rgba(255, 255, 255, 0.2);
//     color: #ffffff;
    
//     text-decoration: none;
    
//     font-size: 14px;
//     line-height: 16px;
//     font-weight: 500;
      
//       svg {
//         position: absolute; 
//         left: 15px;
//         top: 6px;
//         } 

//       &--search {
//         width: 32px; 
//         height: 32px;
//         padding: 0; 
        
//         svg {
//           left: 7px;
//           top: 7px;
//         }
//       }
//     }
//     &__icon {
//       position: absolute;
//     }

//     &__popup {
//       display: none;
//     }
// }






///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  SLIDER  ///////////////////////
///////////////////////////////////////////////////////////////////////


.slider {
  display: none;
  @include container;
  @include clearfix;
  
  position: relative;
  
  min-height: 500px;
  
  &__inner {
    overflow: hidden;
  }
  &__items {

    width: 3600px;
  }
  &__item {
    float: left;
    
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto;
  }
  &__controls {
    display: inline-block;
    vertical-align: top;
    
    width: 20px;
    height: 20px;
    margin-right: 1px;
    
    cursor: pointer;
    
    border: 2px solid $white;
    border-radius: 50%;
  }
  input[type="radio"] {
    display: none;
  }
  &__descript {
    width: 700px;
    min-height: 220px;
  }
}
#slider__item--1:checked ~ .slider__controls--wrap label[for="slider__item--1"],
#slider__item--2:checked ~ .slider__controls--wrap label[for="slider__item--2"],
#slider__item--3:checked ~ .slider__controls--wrap label[for="slider__item--3"] {
  background: $white;
}
#slider__item--1:checked ~ .slider__items {
  transform: translate(0);
}
#slider__item--2:checked ~ .slider__items {
  transform: translate(-1200px);
}
#slider__item--2:checked ~ .slider__items {
  transform: translate(-2400px);
}
// #slider__item--1:checked ~ body {
//   background-color: $green;
// }
// #slider__item--2:checked ~ body {
//   background-color: $blue;
// }
// #slider__item--3:checked ~ body {
//   background-color: $light-brown;
// }


///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  BANNERS  //////////////////////
///////////////////////////////////////////////////////////////////////


.bunners {
  // @include clearfix;
  
  margin-bottom: 40px;  
}


.bunner {
    float: left;

    width: 48.9%;
    box-sizing: border-box;
    min-height: 180px;
    padding: 15px 18px;
    
    -webkit-border-radius: 20px;
            border-radius: 20px;
    
    background: #ae1d40;
    
    &__left {
      float: left;
    }

    &__right {
      float: right;
    }
    &__title {
      // @include margin-reset;
      margin-bottom: 17px;
    }

    &__text {
      // @include margin-reset;
      margin-bottom: 42px;
      
      font-size: $text_font-size--lg;
      line-height: $text_line-height--lg;
      font-weight: bold;
      // padding-right: 10px;
    }

    &__btn {
      display: block;
      float: right;
      
      min-width: 50px;
      margin-bottom: 10px;
    }

    &__raspberry {
      background: #ae1d40 url("../img/background/bg-raspberry.jpg") no-repeat;
    }

    &__choco {
      background: #3a1d13 url("../img/background/bg-chocolate.jpg") no-repeat;
    }

    &__blog {
      position: relative;
      
      padding: 0;
      
      border-radius: 10px;
          
      background: $white;
      
      img {
        display: block;
        
        width: 100%;
        height: auto;
      }

      &--inner {
        position: absolute;
        left: 20px;
        
        width: 300px;
        padding: 0;
        margin: 0;
        
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        color: #353535;
      }

      p {
        font-size: $text_font-size--sm;
        line-height: $text_line-height--sm;
        color: $gray;
      }

      a {
        text-decoration: underline;
        background: rgba(251, 251, 251, 0.8);
      }
    }

    &__subscript {
      width: 50%;
      padding: 6px;
      
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      
      background: #f8f7f4;
      background-image: url("../img/background/pattern-postcard.png");
    
      &--inner {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 28px;
        padding-bottom: 36px;
        border-radius: 10px;
    
        color: $gray;
        background: #f8f7f4;
        
      }
      
      input[type="email"] {
        display: block;
        box-sizing: border-box;
        
        width: 100%;
        padding: 7px;
        
        font-size: 16px;
        line-height: 25px;
        color: #999999;
      }
      input[type="submit"] {
        display: block;
        float: right;
        width: 130px;
        height: 45px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 17px;
        line-height: 22px;
        border: none;
      }
    }
    
  }

.input-wrap {
  margin-right: 140px;
}



///////////////////////////////////////////////////////////////////////
////////////////////////////////////// CATALOG-ITEM  //////////////////
//////////////////////////////////////////////////////////////////////


.catalog-item {
    position: relative;
    
    display: inline-block;
    vertical-align: top;

    width: 22.9%;
    margin-right: 2.3%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    
    &:after {
      content: "";
      
      position: absolute;
      top: -10px;
      left: -10px;
      z-index: 2;
      
      display: block;
      
      width: 100%;
      height: 100%;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 60px;
      
      border-radius: 5px;  
    }
    
    &:hover &:after {
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.3);
    }

    
    &:last-child {
      margin-right: 0;
    }
    &__img {
      position: relative;
      z-index: 3;
      
      max-width: 100%;
      height: auto;
      margin-bottom: 13px;
    }

    &__link {
      @include link-reset;
    }

    &__title {
      @include margin-reset;
      
      text-align: center;
      font-weight: normal;
      
      &--inner {
        border-bottom: 1px solid $white--transparent;
      }
    }

    &:hover &__title--inner {
      border: none;
    }

    &__price {
      position: absolute;
      top: 206px;
      z-index: 3;
      
      font-size: 45px;
      line-height: 1.2;
      font-weight: bold;
      
      text-shadow: 1px 1px 3px rgba(49,50,53, 0.5);
      
      span {
        font-size: 30px;
      }
    }

    &__btn {
      display: none;
      position: absolute;
      width: 100%;
      margin-top: 20px;
      padding: 0;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      }

    &:hover &__btn {
      display: block;
      z-index: 3;
    }

  }



///////////////////////////////////////////////////////////////////////
//////////////////////////////////////  POPULAR  //////////////////////
///////////////////////////////////////////////////////////////////////


.popular {
  margin-bottom: 40px;
  
  .catalog-item {
    position: relative;
  }
  .catalog-item:before {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 4;
    
    display: block;
    
    height: 70px;
    width: 71px;
    background: url("../img/icon/spritesheet.png") no-repeat;
  }

}


/////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FEATURES  ///////////////////////
////////////////////////////////////////////////////////////////////////


.features {
    margin-top: -40px;
    margin-bottom: 40px;
    margin-left: 2.3%;
    margin-right: 2.3%;
    padding: 25px 20px;
    padding-bottom: 0;
    
    background: #f4d77b url("../img/background/pattern-waffle.jpg");
    color: #323232;
    
    -webkit-border-radius: 13px;
            border-radius: 13px;
  
  &__inner {
    
  }
  
  &__title {
    @include margin-reset;
    
    margin-bottom: 7px;
    
    color: #323232;
  }
  
  &__item {
    @include margin-reset;
    
    display: inline-block;
    vertical-align: top;
    
    box-sizing: border-box;
    width: 49%;
    padding-right: 2.5%;
    
    margin-bottom: -10px;
  }
  &__item:nth-of-type(2n) {
    padding-right: 0;
  }
  &__item:nth-of-type(3),
  &__item:nth-of-type(4) {
    margin-bottom: 0;
  }
  
  &__text {
    padding-left: 58px;
  }

  &__icon {
    position: absolute;
    
    fill: #323232;
  }
}


//////////////////////////////////////////////////////////////////////////
////////////////////////////////////// CONTACTS  /////////////////////////
//////////////////////////////////////////////////////////////////////////


.contacts { 
  position: relative;
  
  width: 100%;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
  
  .adress-block {
    position: absolute;
    top: 45px;
    right: 2.3%;
    
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    
    width: 300px;
    padding: 25px;
    
    border-radius: 10px;
    
    color: #343434;
    background-color: $white;
    
    font-size: 14px;
    line-height: 20px;
    
    &__item {
      @include margin-reset;
      
      margin-bottom: 20px;
    }

    &__item--bold {
      @include margin-reset;
      
      margin-bottom: 10px;
      margin-bottom: 10px;
      
      font-size: 18px;
      line-height: 22px;
      font-weight: bold;
      color: black;
      
      a {
        @include link-reset;
      }
    }

    &__btn {
      margin-top: 27px;
    }
  }
}




///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FOOTER  ///////////////////////////
///////////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////////
//////////////////////////////////////  FEEDBACK-FORM  ////////////////////
//////////////////////////////////////////////////////////////////////////

.feedback-form {
	display: none;
	
  width: 480px;
}

