h1 {
  color: $white;
  
  font-family: $roboto;
  font-size: $h1_font-size;
  font-weight: bold;
  line-height: $h1_line-height;
}
h2 {
  color: $white;
  
  font-family: $roboto;
  font-size: $h2_font-size;
  font-weight: bold;
  line-height: $h2_line-height;
}

h3 {
  color: $brown;
  
  font-family: $roboto;
  font-size: $h3_font-size;
  font-weight: bold;
  line-height: $h3_line-height;
}